<a href="https://colab.research.google.com/github/Ammu9392/machine-learning/blob/main/exam_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/train_and_test2.csv")
df.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [ ]:
print("loaded.dataset")

loaded.dataset

In [ ]:
print("titanic_df")

titanic_df

In [ ]:
print(df.head())

   Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500    0      1     0       0       0       0
1            2  38.0  71.2833    1      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]

In [ ]:
print(df.isnull())

      Passengerid    Age   Fare    Sex  sibsp   zero  zero.1  zero.2  zero.3  \
0           False  False  False  False  False  False   False   False   False
1           False  False  False  False  False  False   False   False   False
2           False  False  False  False  False  False   False   False   False
3           False  False  False  False  False  False   False   False   False
4           False  False  False  False  False  False   False   False   False
...           ...    ...    ...    ...    ...    ...     ...     ...     ...
1304        False  False  False  False  False  False   False   False   False
1305        False  False  False  False  False  False   False   False   False
1306        False  False  False  False  False  False   False   False   False
1307        False  False  False  False  False  False   False   False   False
1308        False  False  False  False  False  False   False   False   False

      zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  \
0      False  ...    False    False    False   False    False    False
1      False  ...    False    False    False   False    False    False
2      False  ...    False    False    False   False    False    False
3      False  ...    False    False    False   False    False    False
4      False  ...    False    False    False   False    False    False
...      ...  ...      ...      ...      ...     ...      ...      ...
1304   False  ...    False    False    False   False    False    False
1305   False  ...    False    False    False   False    False    False
1306   False  ...    False    False    False   False    False    False
1307   False  ...    False    False    False   False    False    False
1308   False  ...    False    False    False   False    False    False

      Embarked  zero.17  zero.18  2urvived
0        False    False    False     False
1        False    False    False     False
2        False    False    False     False
3        False    False    False     False
4        False    False    False     False
...        ...      ...      ...       ...
1304     False    False    False     False
1305     False    False    False     False
1306     False    False    False     False
1307     False    False    False     False
1308     False    False    False     False

[1309 rows x 28 columns]

In [ ]:
print(df.dropna())

      Passengerid   Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0               1  22.0    7.2500    0      1     0       0       0       0
1               2  38.0   71.2833    1      1     0       0       0       0
2               3  26.0    7.9250    1      0     0       0       0       0
3               4  35.0   53.1000    1      1     0       0       0       0
4               5  35.0    8.0500    0      0     0       0       0       0
...           ...   ...       ...  ...    ...   ...     ...     ...     ...
1304         1305  28.0    8.0500    0      0     0       0       0       0
1305         1306  39.0  108.9000    1      0     0       0       0       0
1306         1307  38.5    7.2500    0      0     0       0       0       0
1307         1308  28.0    8.0500    0      0     0       0       0       0
1308         1309  28.0   22.3583    0      1     0       0       0       0

      zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  \
0          0  ...        0        0        0       3        0        0
1          0  ...        0        0        0       1        0        0
2          0  ...        0        0        0       3        0        0
3          0  ...        0        0        0       1        0        0
4          0  ...        0        0        0       3        0        0
...      ...  ...      ...      ...      ...     ...      ...      ...
1304       0  ...        0        0        0       3        0        0
1305       0  ...        0        0        0       1        0        0
1306       0  ...        0        0        0       3        0        0
1307       0  ...        0        0        0       3        0        0
1308       0  ...        0        0        0       3        0        0

      Embarked  zero.17  zero.18  2urvived
0          2.0        0        0         0
1          0.0        0        0         1
2          2.0        0        0         1
3          2.0        0        0         1
4          2.0        0        0         0
...        ...      ...      ...       ...
1304       2.0        0        0         0
1305       0.0        0        0         0
1306       2.0        0        0         0
1307       2.0        0        0         0
1308       0.0        0        0         0

[1307 rows x 28 columns]

In [ ]:
print(df.dropna().sum())

Passengerid    856503.0000
Age             38519.6700
Fare            43404.9411
Sex               464.0000
sibsp             653.0000
zero                0.0000
zero.1              0.0000
zero.2              0.0000
zero.3              0.0000
zero.4              0.0000
zero.5              0.0000
zero.6              0.0000
Parch             504.0000
zero.7              0.0000
zero.8              0.0000
zero.9              0.0000
zero.10             0.0000
zero.11             0.0000
zero.12             0.0000
zero.13             0.0000
zero.14             0.0000
Pclass           3002.0000
zero.15             0.0000
zero.16             0.0000
Embarked         1951.0000
zero.17             0.0000
zero.18             0.0000
2urvived          340.0000
dtype: float64